<% include partials/head %>
<%- include("partials/header", { user: !!locals.user ? user : undefined }) %>

<style>
  .entry {
    background-color: black;
    font-size: 20px;
    color: white;
    width: 310px;
    height: auto;
    margin: 6.9px;
    bottom: 0px;
    box-sizing: border-box;
    left: 0px;
    letter-spacing: 0.3px;
    overflow-wrap: break-word;
    position: relative;
    right: 0px;
    text-align: left;
    text-decoration: none solid rgb(0, 0, 0);
    text-rendering: optimizelegibility;
    text-size-adjust: 100%;
    top: 0px;
    width: 224px;
    column-rule-color: rgb(0, 0, 0);
    perspective-origin: 112px 200.188px;
    transform-origin: 112px 200.188px;
    caret-color: rgb(0, 0, 0);
    background: #252525 none repeat scroll 0% 0%/auto padding-box border-box;
    border: 0px none rgb(0, 0, 0);
    font-size: 15px;
    list-style: none outside none;
    outline: rgb(255, 255, 255) none 0px;
    min-height: 220px;
  }

  .authoricon {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    vertical-align: middle;
  }

  .modentry > img:first-child {
    width: 100%;
    min-height: 126px;
    max-height: 126px;
    vertical-align: middle;
    object-fit: contain;
  }

  .votebutton {
    border-radius: 20%;
    border: none;
    background-color: rgb(60, 64, 67);
    cursor: pointer;
    float: right;
    right: 10px;
    top: 17px;
    position: absolute;
    color: white;
    width: 58px;
  }
  
  .votebutton:focus, .votebutton:active {
    outline: none;
  }

  .votebutton[disabled] {
    background-color: rgb(30, 32, 34);
    color: darkgray;
    cursor: no-drop;
  }

  .modvotebutton {
    left: 156px;
    top: 5px;
  }

  .modauthors li:nth-child(2) .modvotebutton {
    top: 40px;
  }

  .entry[disabled] {
    filter: opacity(50%);
  }
  
  .entry[disabled] > * {
    filter: blur(1px);
  }

  .unvote {
    background: green;
  }

  .authorname, .modname {
    vertical-align: middle;
  }

  .modname, .moddescription {
    display: block;
    padding-left: 5px;
    padding-right: 5px;
  }

  .modname {
    font-size: 16px;
  }

  br.shrink {
    line-height: 13px;
  }

  .wrapper {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
  }

  .modauthors {
    list-style: none;
    padding: 0;
    position: absolute;
    bottom: 0px;
  }

  .modauthors li {
    padding-left: 5px;
    padding-bottom: 5px;
  }

  .modauthors img {
    width: 30px;
    height: 30px;
  }

  .hidden {
    display: none !important;
  }

  body.mobile .entry {
    width: 100% !important;
  }

  @media screen and (min-width: 400px) {
    body.mobile .entry {
      width: 45% !important;
    }
  }
</style>

<script>
  var votes = [
    <% for (var vote of votes) { %>
      "<%= vote %>",
    <% } %>
  ];

  function vote(author) {
    $.ajax({
      url: "/vote?id=" + author,
      statusCode: {
        401: () => {
          console.log("Not logged in!");
          alert("Not logged in!");
        },
        400: () => {
          console.log("Invalid author!");
          alert("Invalid author!");
        },
        404: () => {
          console.log("Invalid author!");
          alert("Invalid author!");
        },
        409: () => {
          console.log("Author already voted!");
          alert("Author already voted!");
        },
        406: () => {
          console.log("Too many votes!");
          alert("Too many votes!");
        },
        418: () => {
          document.cookie = "rolled=true; expires=Fri, 31 Dec 9999 23:59:59 GMT"
          alert("Bruh, did you really try to vote for yourself?");
          window.location = "https://www.youtube.com/watch?v=dQw4w9WgXcQ";
        },
        200: () => {
          $(".votefor" + author).css("display", "none");
          $(".unvotefor" + author).css("display", "inherit");
          votes.push(author);
        },
        500: () => {
          console.log("Server error");
          alert("Server error");
        }
      },
    });
  }

  function unvote(author) {
    $.ajax({
      url: "/unvote?id=" + author,
      statusCode: {
        401: () => {
          console.log("Not logged in!");
          alert("Not logged in!");
        },
        400: () => {
          console.log("Invalid author!");
          alert("Invalid author!");
        },
        404: () => {
          console.log("Invalid author!");
          alert("Invalid author!");
        },
        409: () => {
          console.log("Author not voted!");
          alert("Author not voted!");
        },
        200: () => {
          $(".unvotefor" + author).css("display", "none");
          $(".votefor" + author).css("display", "inherit");
          votes = votes.filter(x => x != author);
        },
        500: () => {
          console.log("Server error");
          alert("Server error");
        }
      },
    });
  }

  function refreshButtons() {
    if (votes.length == 3) { 
      $(".vote").attr("disabled", true);
      $(".entry").attr("disabled", true);
      for (var vote of votes) {
        $(".entry" + vote).attr("disabled", false);
      }
    }
    else { 
      $(".vote").attr("disabled", false);
      $(".entry").attr("disabled", false);      
    }

    if ($(window).width() < 200) {
      $(".wrapper").css("display", "none");
      $(".reswarning").css("display", "block");
    } else if ($(window).width() < 400) {
      $(".wrapper").css("display", "");
      $(".reswarning").css("display", "none");
      $(".modvotebutton").css("left", `${120 + 0.954773869 * ($(window).width() - 200)}px`);
    } else if ($(window).width() < 1040) {
      $(".wrapper").css("display", "");
      $(".reswarning").css("display", "none");
      $(".modvotebutton").css("left", `${110 + 0.45 * ($(window).width() - 400)}px`);
    } else {
      $(".wrapper").css("display", "");
      $(".reswarning").css("display", "none");
      $(".modvotebutton").css("left", "");
    }

    if (document.cookie.match(/^(.*;)?\s*rolled\s*=\s*[^;]+(.*)?$/)) { 
      $(".votefor<%= user.id %>").attr("disabled", true);
    }
  }

  $.when($.ready).then(() => {
    setInterval(refreshButtons, 100);

    if (window.performance && window.performance.navigation.type == window.performance.navigation.TYPE_BACK_FORWARD) {
      window.location.reload();
    }

    $(".header-center").removeClass("onotherpage").addClass("onmainpage");

    if (window.location.hash == "#mods") {
      $(".modwrapper").removeClass("hidden");
      $(".header-mods").addClass("active");
    } else {
      $(".authorwrapper").removeClass("hidden");
      $(".header-authors").addClass("active");
    }
  });
</script>

<div class="reswarning" style="font-size:40px;display:none;color:red;">Your resolution is too low to view this website.</div>

<ul class="authorwrapper wrapper hidden">
  <% for (var author of authors) { %>
    <div class="entry authorentry authorentry<%= author.id %> entry<%= author.id %> authorentry<%= author.discordids.split(',').join(' authorentry') %> entry<%= author.discordids.split(',').join(' entry') %>">
      <img class="authoricon" src="<%= author.icon %>">
      <a class="authorname notalink"><%= author.name %></a>
      <button class="votebutton vote votefor<%= author.id %> votefor<%= author.discordids.split(',').join(' votefor') %>" onclick="vote('<%= author.id %>')" <% if (votes.includes(author.id)) { %> style="display:none;"<% } %>>VOTE</button>
      <button class="votebutton unvote unvotefor<%= author.id %> unvotefor<%= author.discordids.split(',').join(' unvotefor') %>" onclick="unvote('<%= author.id %>')" <% if (!votes.includes(author.id)) { %> style="display:none;"<% } %>>VOTED</button>
      <br><br>
      <ul>
        <% for (var mod of mods) { %>
          <% if (mod.authors.includes(author.id)) { %>
            <li><a href="https://nexusmods.com/<%= mod.domain %>/mods/<%= mod.nexusid %>"><%= mod.name %></a></li>
          <% } %>
        <% } %>
      </ul>
      <br>
    </div>
  <% } %>
</ul>

<ul class="modwrapper wrapper hidden">
  <% for (var mod of mods) { %>
    <div class="entry modentry <% for (var author of mod.authors) { for (var author2 of authors) { if (author == author2.id) { %> modentry<%= author2.id %> entry<%= author2.id %> <% }}} %>">
      <img src="<%= mod.image %>"><br><br class="shrink">
      <a class="modname notalink"><%= mod.name %></a><br><br>
      <div class="moddescription"><%= mod.description.replace(/<\s*br[\s\\\/]*>/gi, "\n") %></div><br><br class="shrink">
      <ul class="modauthors">
        <% var lines = 0; %>
        <% for (var author of mod.authors) { %>
          <% for (var author2 of authors) { %>
            <% if (author == author2.id) { %>
              <li>
                <img class="authoricon" src="<%= author2.icon %>">
                <a class="notalink"><%= author2.name %></a>
                <button class="votebutton modvotebutton vote votefor<%= author2.id %> votefor<%= author2.discordids.split(',').join(' votefor') %>" onclick="vote('<%= author2.id %>')" <% if (votes.includes(author2.id)) { %> style="display:none;"<% } %>>VOTE</button>
                <button class="votebutton modvotebutton unvote unvotefor<%= author2.id %> unvotefor<%= author2.discordids.split(',').join(' unvotefor') %>" onclick="unvote('<%= author2.id %>')" <% if (!votes.includes(author2.id)) { %> style="display:none;"<% } %>>VOTED</button>
                <br>
              </li>
              <% lines++; %>
              <% continue; %>
            <% } %>
          <% } %>
        <% } %>
      </ul>
      <br><br>
      <% for (var i = 0; i < lines; i++) { %>
        <br><br>
      <% } %>
    </div>
  <% } %>
</ul>

<form name="dirty_check">
  <input type="hidden" id="page_is_dirty" name="page_is_dirty" value="0" />
</form>